<div class="form-group">
  <label for="chord_name">Name</label>
  <input id="chord_name" class="form-control" name="chord[name]" type="text" value="<%= @chord.name %>">
</div>
  <button class="btn btn-primary"><%=button_message%></button>
