<h1>Update Note</h1>

<%= render('layouts/errors', :object => @note) %>

<form action="/notes/<%=@note.id%>" method="post">
  <input name="_method" type="hidden" value="patch">
  <%= render('form') %>
  <button>Update Note</button>
</form>
