<h1>Here are all the notes you have to choose from.</h1>

<ul>
	<% @notes.each do |note| %>
		<li>
			<a href="notes/<%=note.id%>"><%=note.name%></a>
		</li>
	<% end %>
</ul>

<a href="/notes/new">New Note</a>
