<% if object.errors.any? %>
  <h3>I'm afraid you have some errors to take care of:</h3>
  <ul>
  <% object.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>
